.main-search
  .well
    .row
      .col-lg-5.col-md-5.col-sm-4
        %select.form-control
          %option{:value => 'Свадебные наряды и аксессуары'}
            Свадебные наряды и аксессуары
      .col-lg-5.col-md-5.col-sm-4
        %select.form-control
          %option{:value => 'Москва'}
            Москва
      .col-lg-2.col-md-2.col-sm-4
        %button.btn.btn-info{:type => "button"} Найти