.row
  .col-lg-9
    %p.grid-header Товары и услуги
    .row.grid
      .col-lg-4.col-md-3.col-sm-4.col-xs-4
        = image_tag "http://placehold.it/210x210", :class => 'img-responsive'
        %p.category-caption Свадебные наряды и аксессуары
      .col-lg-4.col-md-3.col-sm-4.col-xs-4
        = image_tag "http://placehold.it/210x210", :class => 'img-responsive'
        %p.category-caption Свадебные наряды и аксессуары
      .col-lg-4.col-md-3.col-sm-4.col-xs-4
        = image_tag "http://placehold.it/210x210", :class => 'img-responsive'
        %p.category-caption Свадебные наряды и аксессуары
      .col-lg-4.col-md-3.col-sm-4.col-xs-4
        = image_tag "http://placehold.it/210x210", :class => 'img-responsive'
        %p.category-caption Свадебные наряды и аксессуары
      .col-lg-4.col-md-3.col-sm-4.col-xs-4
        = image_tag "http://placehold.it/210x210", :class => 'img-responsive'
        %p.category-caption Свадебные наряды и аксессуары
      .col-lg-4.col-md-3.col-sm-4.col-xs-4
        = image_tag "http://placehold.it/210x210", :class => 'img-responsive'
        %p.category-caption Свадебные наряды и аксессуары
      .col-lg-4.col-md-3.col-sm-4.col-xs-4
        = image_tag "http://placehold.it/210x210", :class => 'img-responsive'
        %p.category-caption Свадебные наряды и аксессуары
      .col-lg-4.col-md-3.col-sm-4.col-xs-4
        = image_tag "http://placehold.it/210x210", :class => 'img-responsive'
        %p.category-caption Свадебные наряды и аксессуары
  .col-lg-3.hidden-md.hidden-sm.hidden-xs
    %p.grid-header Присоединяйтесь
    .join-cell
      %p
        %strong Спланируйте свою свадьбу:
      %input.form-control{:placeholder => "mail@mail.com"}
      %p
        %button.btn.btn-success{:type => "button"} Зарегистрироваться
      %p
        Зарегистрированны? 
        =link_to "Войдите", root_path







