@charset "UTF-8"

@import bootstrap-sprockets
@import bootstrap

@import style

body
  font-weight: 300

a, a:visited
  color: #29abe2

a:hover
  color: #0071bc

.navbar 
  border-radius: 0
  border: 0

.brand
  text-align: center
  float: none

.brand img
  margin: 15px

ul.main-nav 
  text-align: center
  margin-top: 20px

.main-nav a
  font-size: 14px
  font-weight: bold
  text-transform: uppercase
  color: #5d5d5d

.main-search .well
  border: none
  border-radius: 0
  box-shadow: none
  border-bottom: 3px solid #e6e6e6

.main-search .btn
  width: 110px

@media (max-width: 640px)
  .main-search .form-control
    margin-bottom: 20px

  .category-caption
    font-size: 8px
    min-height: 20px !important
    margin-top: 5px !important

.grid-header 
  text-transform: uppercase

.category-caption
  text-align: center
  max-width: 210px
  min-height: 60px
  margin-top: 10px

.join-cell
  padding: 15px
  background: #fbf9f2
  border-bottom: 3px solid #fde6de
  font-size: 12px

.join-cell .btn 
  margin: 10px 0px 0px 0px
