<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Excerpt</th>
      <th>Description</th>
      <th>Seo title</th>
      <th>Seo keywords</th>
      <th>Seo description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.excerpt %></td>
        <td><%= category.description %></td>
        <td><%= category.seo_title %></td>
        <td><%= category.seo_keywords %></td>
        <td><%= category.seo_description %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
