<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Excerpt:</strong>
  <%= @category.excerpt %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Seo title:</strong>
  <%= @category.seo_title %>
</p>

<p>
  <strong>Seo keywords:</strong>
  <%= @category.seo_keywords %>
</p>

<p>
  <strong>Seo description:</strong>
  <%= @category.seo_description %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
