.container
  %ul.list-inline.main-nav
    %li #{link_to "Планирование", ""}
    %li #{link_to "Каталог компаний", ""}
    %li #{link_to "Идеи и вдохновение", ""}
    %li #{link_to "Статьи", ""}
    %li #{link_to "Свадебный сайт", ""}
    %li #{link_to "Выгодные предложения", ""}