%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %p.nav.navbar-text
            Ваш город:
            %a{:href => "#"} Москва
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} Регистрация
        %li
          %a{:href => "#"} Войти
        %li
          %a{:href => "#"} Для владельцев бизнеса