!!!
%html
  %head
    %title Wedville
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    = render 'layouts/brand'
    = render 'layouts/main_nav'
    = render 'layouts/messages'
    = yield